@charset "UTF-8";
/* CSS - Instituto Casa Amarela | Codificado por: Equipe 13 - Uniplac | Ano: 2022/01 */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYi1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYi1UA.ttf) format('truetype');
}
.iconify {
  font-size: 18px;
}
.small-notifications-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 25px;
  z-index: 9999;
  width: 100vw;
}
.small-notifications-area .box-small-response {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  display: flex;
  font-weight: normal;
  justify-content: center;
  margin-bottom: 20px;
  padding: 12px 19px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  min-width: 200px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.small-notifications-area .box-small-response p {
  color: #fff;
  margin-bottom: 0;
}
.small-notifications-area .box-small-response .iconify {
  font-size: 23px;
  margin-right: 10px;
}
.small-notifications-area .box-small-response .iconify.success {
  color: #02bd7a;
}
.small-notifications-area .box-small-response .iconify.error {
  color: #FD5B71;
}
.small-notifications-area .box-small-response svg {
  margin-right: 10px;
}
.small-notifications-area .box-small-response svg.success {
  color: #02bd7a;
}
.small-notifications-area .box-small-response svg.error {
  color: #FD5B71;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  outline: 0;
  padding: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
br {
  clear: both;
}
input,
textarea,
select {
  outline: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: #353535;
  font-family: "Rubik";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
strong,
b {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1,
h2 {
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
}
ul {
  margin: 0;
  margin-bottom: 0;
  list-style: none;
}
p {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.container-fluid {
  padding: 0;
}
/******************** Conteúdo **********************/
/* CSS de estilos gerais do site
    
    ** Menu lateral
    ** Imagens fixas de background
    ** Content Wrap e seus elementos internos (que envolve o conteúdo fora o menu lateral)
    ** Section Title
    ** Menu do usuário

*/
.first-top-padding {
  padding-top: 40px;
}
.default-space-between {
  display: grid;
  grid-gap: 20px;
}
.default-space-between.form-space {
  grid-gap: 30px;
}
aside.general-dashboard-aside {
  background: #292929;
  left: 0;
  height: 100vh;
  min-width: 300px;
  position: fixed;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  top: 0;
  z-index: 999;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
aside.general-dashboard-aside::-webkit-scrollbar {
  width: 16px;
}
aside.general-dashboard-aside::-webkit-scrollbar-track {
  background: transparent;
}
aside.general-dashboard-aside::-webkit-scrollbar-thumb {
  background: #4D4D4D;
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
}
aside.general-dashboard-aside::-webkit-scrollbar-thumb:hover {
  background: #6B6B6B;
  border: 5px solid transparent;
  background-clip: content-box;
}
aside.general-dashboard-aside nav {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
}
aside.general-dashboard-aside .sidebar-head {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}
aside.general-dashboard-aside .sidebar-head .sidebar-logo img {
  width: 150px;
}
aside.general-dashboard-aside .sidebar-head span {
  text-align: right;
  width: 100%;
  line-height: 15px;
}
aside.general-dashboard-aside .sidebar-divider {
  background: #232323;
  height: 2px;
  margin: 30px 0;
  width: 100%;
}
aside.general-dashboard-aside .sidebar-links .group-links {
  margin-bottom: 30px;
}
aside.general-dashboard-aside .sidebar-links .group-links .collapse-group .multi-collapse .sidebar-link {
  padding: 0 5px 0 30px;
  font-size: 14px;
}
aside.general-dashboard-aside .sidebar-links .group-links .collapse-group .multi-collapse .sidebar-link .iconify {
  font-size: 16px;
}
aside.general-dashboard-aside .sidebar-links .group-links .collapse-group .multi-collapse .sidebar-link + .sidebar-link {
  padding-top: 15px;
}
aside.general-dashboard-aside .sidebar-links .label-links {
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
}
aside.general-dashboard-aside .sidebar-links .sidebar-link {
  align-items: center;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 15px 0 ;
  width: 100%;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
aside.general-dashboard-aside .sidebar-links .sidebar-link:not(.sidebar-logo) .iconify {
  font-size: 19px;
  min-width: 19px;
  margin-right: 10px;
  margin-left: 0;
}
aside.general-dashboard-aside .sidebar-links .sidebar-link:not(.sidebar-logo) svg:not(.iconify) {
  height: 18px;
  width: 18px;
  margin-right: 10px;
  margin-left: 0;
}
aside.general-dashboard-aside .sidebar-links .sidebar-link:not(.sidebar-logo):hover,
aside.general-dashboard-aside .sidebar-links .sidebar-link:not(.sidebar-logo).active {
  color: #0089ff;
}
aside.general-dashboard-aside .sidebar-links .sidebar-link:not(.sidebar-logo):hover .tooltip-area {
  opacity: 1;
  visibility: visible;
}
aside.general-dashboard-aside .sidebar-links .sidebar-link.sidebar-logo {
  padding: 0;
}
aside.general-dashboard-aside .sidebar-links .sidebar-link.sidebar-logo img {
  height: 20px;
}
aside.general-dashboard-aside .btn-geral.w-100 {
  max-width: 100%;
}
.content-wrap {
  min-height: 100vh;
  position: relative;
  padding-right: 50px;
  padding-bottom: 50px;
  z-index: 2;
}
.content-wrap:before {
  content: '';
  position: absolute;
  background: #60AF79;
  filter: blur(300px);
  border-radius: 100%;
  opacity: 0.3;
  height: 80vh;
  right: 0;
  top: -30%;
  width: 40vh;
  z-index: -1;
}
.content-wrap.login-page {
  padding-right: 0;
  padding-bottom: 0;
}
.content-file {
  background: rgba(41, 41, 41, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 30px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}
.content-file.login-page {
  padding: 0;
  margin-top: 0;
}
.content-file .loading-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  background: #02bd7a;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.user-actions {
  align-items: center;
  display: flex;
  grid-gap: 15px;
  justify-content: flex-end;
}
.user-actions .dropdown-menu {
  background: #0089ff;
  border-radius: 10px;
  padding: 20px 15px;
  flex-direction: column;
  grid-gap: 15px;
  top: 25px!important;
  left: -80px !important;
}
.user-actions .dropdown-menu.show {
  display: flex;
  width: 180px;
}
.user-actions .dropdown-menu p {
  margin-bottom: 0;
}
.user-actions .dropdown-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}
.user-actions .dropdown-menu ul li a {
  align-items: center;
  display: flex;
  font-weight: 300;
}
.user-actions .dropdown-menu ul li a svg,
.user-actions .dropdown-menu ul li a .iconify {
  color: #fff;
  opacity: 0.8;
  margin-right: 10px;
  min-width: 18px;
  margin-left: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.user-actions .dropdown-menu ul li a:hover {
  color: #fff;
}
.user-actions .dropdown-menu ul li a:hover svg,
.user-actions .dropdown-menu ul li a:hover .iconify {
  opacity: 1;
}
.blue-background {
  background: rgba(54, 65, 77, 0.5);
  border-radius: 10px;
  padding: 40px;
}
.image-tips {
  align-items: flex-start;
  display: flex;
}
.image-tips .icon {
  align-items: center;
  background: #FFC52E;
  border-radius: 999px;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 30px;
  margin-right: 15px;
  max-width: 30px;
  width: 100%;
}
.image-tips .text {
  padding-top: 10px;
}
.error-page-text {
  color: #fff;
  font-size: 7rem;
  position: relative;
  line-height: 1;
  width: 12.5rem;
  text-shadow: 0 4px 0 #00B2FF;
}
/*Estilo de botões do site*/
.btn-geral {
  align-items: center;
  border: 1px solid transparent;
  background: #0089ff;
  border-radius: 10px;
  color: #fff;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  padding: 15px 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.btn-geral:hover,
.btn-geral:active,
.btn-geral:focus {
  outline: 0;
  box-shadow: none;
  background: #006ecc;
  color: #fff;
  text-decoration: none;
}
.btn-geral svg,
.btn-geral .iconify {
  margin-left: 7px;
}
.btn-geral.disabled {
  pointer-events: none;
  background: #CDC3DB;
}
.btn-geral-transparent {
  align-items: center;
  border: 1px solid #0089ff;
  background: #fff;
  border-radius: 10px;
  color: #0089ff;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  padding: 15px 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
  box-shadow: inset 0 0 0 0 #0089ff;
}
.btn-geral-transparent:hover,
.btn-geral-transparent:active,
.btn-geral-transparent:focus {
  outline: 0;
  box-shadow: none;
  background: #e6e6e6;
  color: #0089ff;
  text-decoration: none;
}
.btn-geral-transparent svg,
.btn-geral-transparent .iconify {
  margin-left: 7px;
}
.btn-geral-transparent.disabled {
  pointer-events: none;
  background: #CDC3DB;
}
.btn-geral-transparent:hover,
.btn-geral-transparent:focus,
.btn-geral-transparent:active {
  box-shadow: inset 0 0 0 1px #0089ff;
  background: #fff;
}
.btn-geral-transparent.active {
  align-items: center;
  border: 1px solid transparent;
  background: #0089ff;
  border-radius: 10px;
  color: #fff;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  padding: 15px 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.btn-geral-transparent.active:hover,
.btn-geral-transparent.active:active,
.btn-geral-transparent.active:focus {
  outline: 0;
  box-shadow: none;
  background: #006ecc;
  color: #fff;
  text-decoration: none;
}
.btn-geral-transparent.active svg,
.btn-geral-transparent.active .iconify {
  margin-left: 7px;
}
.btn-geral-transparent.active.disabled {
  pointer-events: none;
  background: #CDC3DB;
}
.btn-geral-cancel {
  align-items: center;
  border: 1px solid transparent;
  background: #FA533B;
  border-radius: 10px;
  color: #fff;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  padding: 15px 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.btn-geral-cancel:hover,
.btn-geral-cancel:active,
.btn-geral-cancel:focus {
  outline: 0;
  box-shadow: none;
  background: #f92709;
  color: #fff;
  text-decoration: none;
}
.btn-geral-cancel svg,
.btn-geral-cancel .iconify {
  margin-left: 7px;
}
.btn-geral-cancel.disabled {
  pointer-events: none;
  background: #CDC3DB;
}
.btn-geral-success {
  align-items: center;
  border: 1px solid transparent;
  background: #02bd7a;
  border-radius: 10px;
  color: #fff;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  padding: 15px 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.btn-geral-success:hover,
.btn-geral-success:active,
.btn-geral-success:focus {
  outline: 0;
  box-shadow: none;
  background: #018b59;
  color: #fff;
  text-decoration: none;
}
.btn-geral-success svg,
.btn-geral-success .iconify {
  margin-left: 7px;
}
.btn-geral-success.disabled {
  pointer-events: none;
  background: #CDC3DB;
}
.left-icon svg,
.left-icon .iconify {
  margin-left: 0;
  margin-right: 10px;
}
a,
button {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
a.primary-color:hover,
button.primary-color:hover {
  color: #4dacff;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
a.geral-text,
button.geral-text {
  font-weight: 500;
}
a.no-style-button,
button.no-style-button {
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  background: none;
}
a.no-style-button:hover,
button.no-style-button:hover,
a.no-style-button:focus,
button.no-style-button:focus,
a.no-style-button:active,
button.no-style-button:active {
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  background: none;
}
.btn-action {
  align-items: center;
  background: none;
  border: none;
  border-radius: 999px;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.btn-action + .btn-action {
  margin-left: 10px;
}
.btn-action:hover,
.btn-action:focus,
.btn-action:active {
  outline: 0;
  box-shadow: none;
  color: #fff;
}
.btn-action .iconify {
  opacity: 1 !important;
  font-size: 20px !important;
}
.btn-red {
  background: #FD5B71;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active {
  background: #fd425b;
}
.btn-green {
  background: #02bd7a;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active {
  background: #02a46a;
}
.btn-blue {
  background: #00B2FF;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  background: #00a0e6;
}
.btn-yellow {
  background: #FFC52E;
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active {
  background: #ffbe15;
}
.btn-purple {
  background: #9B51E0;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
  background: #8f3bdc;
}
.btn-multiple-actions {
  opacity: 0;
  visibility: hidden;
}
/* Estilos de textos do site */
.geral-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.geral-text.type-error {
  color: #FD5B71;
}
.geral-text.type-warning {
  color: #FF8C21;
}
.geral-text.type-success {
  color: #02bd7a;
}
.geral-text.bold {
  font-weight: 500;
}
.geral-text a {
  color: #0089ff;
  text-decoration: none;
  font-weight: 500;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.geral-text a:hover {
  color: #007be6;
}
.font-20 {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
a.geral-text {
  align-items: center;
  display: flex;
}
a.geral-text svg,
a.geral-text .iconify {
  margin-left: 5px;
}
a.geral-text:hover {
  color: #0089ff;
}
a.geral-text.flex-row-reverse svg,
a.geral-text.flex-row-reverse .iconify {
  margin-left: 0;
  margin-right: 5px;
}
a.geral-text.back-link {
  text-decoration: underline;
}
a.geral-text.back-link svg,
a.geral-text.back-link .iconify {
  margin-left: 0;
  margin-right: 5px;
}
a.geral-text.back-link svg {
  height: 17px;
  width: 17px;
}
a.geral-text.back-link .iconify {
  font-size: 18px;
}
a.geral-text.back-link:hover {
  color: #1D1F1E;
  text-decoration: underline;
}
a.geral-text.configuration-link {
  justify-content: space-between;
  opacity: 0.4;
  width: 100%;
}
a.geral-text.configuration-link:hover,
a.geral-text.configuration-link:active,
a.geral-text.configuration-link:focus {
  color: #0089ff;
  opacity: 1;
}
.geral-title {
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
}
.geral-title.uppercase {
  font-size: 22px;
  text-transform: uppercase;
}
.geral-subtitle {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}
.geral-subtitle.uppercase {
  font-size: 13px;
  text-transform: uppercase;
}
.primary-color {
  color: #0089ff;
}
.dark-primary-color {
  color: #1D1F1E;
}
.green-color {
  color: #02bd7a;
}
.red-color {
  color: #FD5B71;
}
.white-color {
  color: #fff;
}
.default-icon-w-circle {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.default-icon-w-circle .circle {
  background: #F9F7FB;
  border-radius: 999px;
  height: 100px;
  width: 100px;
}
.default-icon-w-circle svg,
.default-icon-w-circle .iconify {
  color: #0089ff;
  bottom: 0;
  position: absolute;
  right: 0;
}
.default-icon-w-circle svg {
  height: 40px;
  width: 40px;
}
.default-icon-w-circle .iconify {
  font-size: 40px;
}
.default-icon-w-circle.sidebar-style {
  margin: 0 auto;
}
.default-icon-w-circle.sidebar-style .circle {
  height: 130px;
  width: 130px;
}
.default-icon-w-circle.sidebar-style svg {
  height: 50px;
  width: 50px;
}
.default-icon-w-circle.sidebar-style .iconify {
  font-size: 50px;
}
.default-box {
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  padding: 20px;
}
.default-box.pd-30 {
  padding: 30px;
}
.resume-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.resume-boxes .resume-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 170px;
}
.resume-boxes .resume-box .resume-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.resume-boxes .resume-box .resume-content .resume-title {
  align-items: center;
  display: flex;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: #1D1F1E;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.3s ease;
}
.resume-boxes .resume-box .resume-content .resume-title .iconify,
.resume-boxes .resume-box .resume-content .resume-title svg {
  color: #0089ff;
  margin-left: 10px;
}
.resume-boxes .resume-box .resume-content .resume-statistic {
  font-weight: 500;
  font-size: 55px;
  color: #fff;
  line-height: 50px;
  margin: 0;
  text-transform: uppercase;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.3s ease;
}
.resume-boxes .resume-box:hover {
  text-decoration: none;
}
.resume-boxes .resume-box:hover .resume-title,
.resume-boxes .resume-box:hover .resume-statistic {
  color: #0089ff;
}
.number-box {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
}
.number-box .geral-text {
  font-weight: bold;
  margin-bottom: 0;
}
.number-box svg,
.number-box .iconify {
  color: #CDC3DB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.number-box.link-box {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.number-box.link-box:hover svg,
.number-box.link-box:hover .iconify {
  color: #fff;
}
.date-box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.date-box .date-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.date-box .date-title svg,
.date-box .date-title .iconify {
  color: #CDC3DB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.date-box .date-title svg {
  height: 22px;
  width: 22px;
}
.date-box .date-title .iconify {
  font-size: 22px;
}
.date-box .date-infos {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.date-box .date-infos .general {
  align-items: center;
  display: flex;
  grid-gap: 5px;
}
.date-box:hover .date-title svg,
.date-box:hover .date-title .iconify {
  color: #0089ff;
}
.option-checkbox {
  position: relative;
}
.option-checkbox input[type="radio"] {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.option-checkbox:hover .client-box,
.option-checkbox input[type="radio"]:checked + .client-box {
  border-color: #0089ff;
  box-shadow: inset 0 0 0 2px #0089ff;
}
.client-box {
  box-shadow: inset 0 0 0 0 #0089ff;
  display: flex;
  grid-gap: 15px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.client-box h3 {
  margin-bottom: 0;
}
.client-box p {
  font-size: 14px;
  margin-bottom: 0;
}
.client-box:hover {
  border-color: #0089ff;
  box-shadow: inset 0 0 0 2px #0089ff;
}
.financial-box {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.financial-box h3 {
  margin-bottom: 0;
}
.financial-box .geral-text {
  font-weight: 500;
}
.financial-box .percentual-finance {
  background: #EBEBEB;
  border-radius: 40px;
  display: flex;
  height: 5px;
  width: 100%;
}
.financial-box .percentual-finance .background {
  background: #FD5B71;
  border-radius: 40px;
  display: flex;
  height: 100%;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.financial-box .hide {
  display: none;
  font-size: 14px;
}
.financial-box input {
  border: none;
  border-bottom: 1px solid transparent;
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.financial-box input:hover,
.financial-box input:focus,
.financial-box input:active {
  border: none;
}
.financial-box .input-area.green-color input {
  color: #02bd7a;
  width: 26px;
}
.financial-box .input-area.green-color input.disabled {
  background: #eaf9ee;
}
.financial-box .input-area.green-color input:hover,
.financial-box .input-area.green-color input:focus,
.financial-box .input-area.green-color input:active {
  border: none;
  border-bottom: 1px solid #02bd7a;
}
.financial-box .input-area.red-color input {
  color: #FD5B71;
  width: 15px;
}
.financial-box .input-area.red-color input.disabled {
  background: #fff2f2;
}
.financial-box .input-area.red-color input:hover,
.financial-box .input-area.red-color input:focus,
.financial-box .input-area.red-color input:active {
  border: none;
  border-bottom: 1px solid #FD5B71;
}
.sidebar-items {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
/* Grids do site  */
.geral-grid-div {
  display: grid;
  grid-gap: 20px;
}
.geral-grid-div.column-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.geral-grid-div.column-3 {
  grid-template-columns: repeat(3, 1fr);
}
.geral-grid-div.column-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 30px;
}
.geral-grid-div.column-5 {
  grid-template-columns: repeat(5, 1fr);
}
.geral-grid-div.column-6 {
  grid-template-columns: repeat(6, 1fr);
}
.geral-flex-div {
  align-items: center;
  display: flex;
  grid-gap: 15px;
  overflow-y: hidden;
}
.geral-flex-div.flex-column {
  align-items: unset;
  flex-direction: column;
}
.geral-flex-div.flex-column-reverse {
  align-items: unset;
  flex-direction: column-reverse;
}
.geral-flex-div.flex-row {
  flex-direction: row;
}
.geral-flex-div.flex-row-reverse {
  flex-direction: row-reverse;
}
.geral-flex-div.flex-space-between {
  justify-content: space-between;
}
.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
.custom-modal p,
.custom-modal h2 {
  color: #000;
}
.custom-modal .background {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.custom-modal .content {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 30px;
  z-index: 2;
  position: relative;
  min-width: 450px;
  transform: scale(0, 0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.3s ease;
}
.custom-modal .custom-modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.custom-modal .custom-modal-header .close-custom-modal {
  cursor: pointer;
}
.custom-modal .custom-modal-header .close-custom-modal svg,
.custom-modal .custom-modal-header .close-custom-modal .iconify {
  color: #CDC3DB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.custom-modal .custom-modal-header .close-custom-modal:hover svg,
.custom-modal .custom-modal-header .close-custom-modal:hover .iconify {
  color: #0089ff;
}
.custom-modal .actions {
  align-items: center;
  display: flex;
  grid-gap: 15px;
}
.custom-modal.show {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.custom-modal.show .background {
  opacity: 1;
  visibility: visible;
}
.custom-modal.show .content {
  transform: scale(1, 1);
}
.custom-modal .list-spreadsheet {
  padding-left: 15px;
  margin: 0;
}
.custom-modal .list-spreadsheet li .circle {
  align-self: center;
  background: #0089ff;
  border-radius: 999px;
  display: inline-block;
  height: 7px;
  margin-right: 8px;
  width: 7px;
}
.custom-modal .list-spreadsheet li + li {
  margin-top: 10px;
}
.custom-modal .list-spreadsheet ul {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  list-style: none;
}
.custom-modal .list-spreadsheet ul li {
  margin-top: 5px;
}
.default-form {
  position: relative;
}
.default-form .fields {
  margin-top: 20px;
}
.default-form .default-input-group {
  display: grid;
  flex-direction: column;
  grid-gap: 10px;
}
.default-form .default-input-group label {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  text-transform: uppercase;
}
.default-form .default-input-group .geral-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  padding: 10px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.default-form .default-input-group .geral-input option {
  background: #32383e;
}
.default-form .default-input-group .geral-input:-ms-input-placeholder {
  color: #9A9A9A;
}
.default-form .default-input-group .geral-input::-moz-placeholder {
  color: #9A9A9A;
}
.default-form .default-input-group .geral-input::placeholder {
  color: #9A9A9A;
}
.default-form .default-input-group .geral-input:-webkit-autofill,
.default-form .default-input-group .geral-input:-webkit-autofill:hover,
.default-form .default-input-group .geral-input:-webkit-autofill:focus,
.default-form .default-input-group .geral-input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
.default-form .default-input-group .geral-input.red-border {
  border-color: #FD5B71 !important;
}
.default-form .default-input-group .geral-input:active,
.default-form .default-input-group .geral-input:focus,
.default-form .default-input-group .geral-input:hover {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
}
.default-form .default-input-group .file-input-area {
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.default-form .default-input-group .file-input-area .preview-file-area {
  align-items: center;
  display: flex;
  width: 50%;
  padding-left: 15px;
}
.default-form .default-input-group .file-input-area .preview-file-area .icon {
  align-items: center;
  background: #0089ff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  height: 20px;
  opacity: 0.2;
  margin-right: 10px;
  width: 20px;
}
.default-form .default-input-group .file-input-area .preview-file-area .icon .iconify {
  color: #fff;
  font-size: 17px;
}
.default-form .default-input-group .file-input-area .file-input-button {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.default-form .default-input-group .file-input-area .file-input-button .btn-file {
  align-items: center;
  border: 1px solid transparent;
  background: #0089ff;
  border-radius: 10px;
  color: #fff;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  padding: 11px 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.default-form .default-input-group .file-input-area .file-input-button .btn-file:hover,
.default-form .default-input-group .file-input-area .file-input-button .btn-file:active,
.default-form .default-input-group .file-input-area .file-input-button .btn-file:focus {
  outline: 0;
  box-shadow: none;
  background: #006ecc;
  color: #fff;
  text-decoration: none;
}
.default-form .default-input-group .file-input-area .file-input-button .btn-file svg,
.default-form .default-input-group .file-input-area .file-input-button .btn-file .iconify {
  margin-left: 7px;
}
.default-form .default-input-group .file-input-area .file-input-button .btn-file.disabled {
  pointer-events: none;
  background: #CDC3DB;
}
.default-form .default-input-group .file-input-area.red-border {
  border: 1px solid #FD5B71;
}
.default-form .default-input-group .cs-select {
  border-bottom: 0;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  padding-bottom: 0;
  padding: 15px 20px;
}
.default-form .default-input-group .cs-select.red-border {
  border: 1px solid #FD5B71;
}
.default-form .default-input-group .contact-input {
  align-items: center;
  border-bottom: 1px solid #fff;
  display: flex;
  padding: 10px 0;
}
.default-form .default-input-group .contact-input.red-border {
  border-color: #FD5B71;
}
.default-form .default-input-group .contact-input input {
  border-bottom: none;
  padding: 0;
  margin-left: 3px;
  width: 100%;
}
.default-form .default-input-group .contact-input input:hover,
.default-form .default-input-group .contact-input input:focus,
.default-form .default-input-group .contact-input input:active {
  border-bottom: none;
  padding: 0;
}
.default-form .default-input-group.readonly-input input {
  background: url('https://api.iconify.design/feather/lock.svg?color=black&height=18') no-repeat 93% center / 20px;
}
.default-form .actions {
  margin-top: 30px;
}
.default-form .image-preview {
  position: relative;
}
.default-form .image-preview .image-item {
  position: relative;
}
.default-form .image-preview .image-item .remove-gallery-image {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 2;
}
.default-form .image-preview .image-item .copy-gallery-image {
  position: absolute;
  top: -20px;
  right: 30px;
  z-index: 2;
  padding: 10px 15px;
}
.default-form .image-preview .image-item .copy-gallery-image .iconify {
  margin-right: 10px;
}
.default-form .image-preview .preview-img {
  align-items: center;
  border: 2px dashed #e0e0e0;
  background-position: center!important;
  background-size: cover!important;
  background-repeat: no-repeat !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
  width: 500px;
}
.default-form .image-preview .preview-img .iconify {
  font-size: 50px;
}
.default-form .image-preview .preview-img.banner {
  width: 70%;
}
.default-form .image-preview .preview-img.gallery {
  width: 100%;
  height: 300px;
  z-index: 1;
}
.default-form .image-preview .preview-img.contain {
  background-size: contain!important;
}
.default-form .image-preview .preview-img.red-border {
  border-color: #FD5B71;
}
.default-form .image-preview .preview-img.w-background {
  border: 2px dashed transparent;
}
.default-form .image-preview .preview-img.w-background .iconify {
  opacity: 0;
}
.default-form .image-preview .input-image-hidden {
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  padding: 0;
  top: 0;
  visibility: hidden;
  width: 0;
}
.default-form .form-field .section-title {
  margin-bottom: 35px;
}
.option-table-area {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.option-table-area input[type="checkbox"] {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.option-table-area input[type="checkbox"]:checked + .checkbox-area {
  background: #00B2FF;
}
.option-table-area input[type="checkbox"]:checked + .checkbox-area .iconify {
  opacity: 1;
}
.option-table-area .checkbox-area {
  align-items: center;
  background: none;
  border: 1px solid #00B2FF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 20px;
  position: relative;
  width: 20px;
  z-index: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.option-table-area .checkbox-area .iconify {
  opacity: 0;
  color: #fff;
  font-size: 19px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.alt-text {
  bottom: -15px;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 0);
}
.input-alt-text {
  background: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.input-alt-text.disabled {
  background: #ececec;
  color: #929292;
  pointer-events: none;
}
.form-check-input {
  margin-top: 0;
  margin-right: 0.75em;
}
div.dataTables_wrapper div.dataTables_length select {
  margin: 0 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  position: relative;
  z-index: 2;
}
div.dataTables_wrapper div.dataTables_length select option {
  color: black;
}
div.dataTables_wrapper div.dataTables_length select option:first-child {
  color: #fff;
}
div.dataTables_wrapper div.dataTables_length select:focus,
div.dataTables_wrapper div.dataTables_length select:active {
  box-shadow: none;
  outline: 0;
}
div.dataTables_wrapper div.dataTables_length label {
  position: relative;
}
div.dataTables_wrapper div.dataTables_length label:after {
  content: '';
  position: absolute;
  top: 9px;
  right: 60px;
  background: url(https://api.iconify.design/akar-icons/chevron-down.svg?color=white&height=18) no-repeat center center / contain;
  height: 15px;
  width: 15px;
  z-index: 1;
}
div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 10px 0;
}
.table {
  color: #ffffff;
}
.table td,
.table th {
  border: none!important;
}
div.dataTables_wrapper div.dataTables_filter input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  padding: 10px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
div.dataTables_wrapper div.dataTables_filter input:-ms-input-placeholder {
  color: #9A9A9A;
}
div.dataTables_wrapper div.dataTables_filter input::-moz-placeholder {
  color: #9A9A9A;
}
div.dataTables_wrapper div.dataTables_filter input::placeholder {
  color: #9A9A9A;
}
div.dataTables_wrapper div.dataTables_filter input:-webkit-autofill,
div.dataTables_wrapper div.dataTables_filter input:-webkit-autofill:hover,
div.dataTables_wrapper div.dataTables_filter input:-webkit-autofill:focus,
div.dataTables_wrapper div.dataTables_filter input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
div.dataTables_wrapper div.dataTables_filter input.red-border {
  border-color: #FD5B71;
}
div.dataTables_wrapper div.dataTables_filter input:active,
div.dataTables_wrapper div.dataTables_filter input:focus,
div.dataTables_wrapper div.dataTables_filter input:hover {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
}
table.dataTable {
  border-spacing: 0 15px;
}
.dataTable thead tr {
  background: #383838;
  color: #fff;
}
.dataTable thead tr th {
  font-weight: 300;
  padding: 20px 10px;
}
.dataTable thead tr th:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.dataTable thead tr th:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dataTable tbody tr {
  background: #424344;
}
.dataTable tbody tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.dataTable tbody tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dataTable tbody tr.even {
  background: #383838;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 1.3em;
  display: block;
  opacity: 0.3;
}
.table td,
.table th {
  vertical-align: middle;
}
.dataTables_paginate .page-item .page-link {
  color: #fff;
  background-color: transparent;
  border: none !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
.dataTables_paginate .page-item.active .page-link,
.dataTables_paginate .page-item:hover:not(.disabled) .page-link,
.dataTables_paginate .page-item:active .page-link {
  color: #02bd7a;
}
/* CSS para a página de Login */
#login-page {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}
#login-page .login-form {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #0089ff;
  border-radius: 10px;
  min-width: 500px;
  padding: 80px 70px;
  position: relative;
  text-align: center;
}
#login-page .login-form .form-logo {
  height: 110px;
}
#login-page .login-form #form-login {
  position: relative;
  z-index: 2;
}
#login-page .login-form #form-login .form-fields {
  margin: 60px 0 20px;
}
#login-page .login-form #form-login .input-group {
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #0089ff;
  border-radius: 10px;
  display: flex;
  padding: 15px 20px;
  flex-wrap: nowrap;
}
#login-page .login-form #form-login .input-group:first-child {
  margin-bottom: 15px;
}
#login-page .login-form #form-login .input-group .iconify {
  color: #0089ff;
  font-size: 20px;
  margin-right: 10px;
}
#login-page .login-form #form-login .input-group input.input-control {
  color: #000;
  border: none;
  font-size: 13px;
  padding: 5px 0;
  width: 100%;
}
#login-page .login-form #form-login .input-group input.input-control:-ms-input-placeholder {
  color: #C0C0C0;
}
#login-page .login-form #form-login .input-group input.input-control::-moz-placeholder {
  color: #C0C0C0;
}
#login-page .login-form #form-login .input-group input.input-control::placeholder {
  color: #C0C0C0;
}
#login-page .login-form #form-login .input-group input.input-control:-webkit-autofill,
#login-page .login-form #form-login .input-group input.input-control:-webkit-autofill:hover,
#login-page .login-form #form-login .input-group input.input-control:-webkit-autofill:focus,
#login-page .login-form #form-login .input-group input.input-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
#login-page .login-form #form-login .input-group input.input-control:hover,
#login-page .login-form #form-login .input-group input.input-control:active,
#login-page .login-form #form-login .input-group input.input-control:focus {
  border: none;
  box-shadow: none;
  outline: 0;
}
#login-page .login-form #form-login .error-text {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  transition: all 0.2s ease;
}
#login-page .login-form #form-login .error-text svg {
  color: #FD5B71;
  margin-right: 10px;
}
#login-page .login-form #form-login .btn-geral {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}
#login-page .login-form:before {
  content: '';
  left: 0;
  height: 100%;
  filter: blur(100%);
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

